OWNER_ID=""
OWNER_PRIVATE_KEY=""
STORAGE_ROOT_PATH=""
BASE_DB_PATH=""
APPLET_DB_PATH=""
SEARCH_INDEX_PATH=""
STORE_LOGS_DB=""
CLIENT_WS_API_PORT=""
CLIENT_TCP_API_PORT=""
FEDERATION_API_PORT=""
BLOCKCHAIN_API_PORT=""
ENTITY_API_PORT=""
VM_API_PORT=""
ORIGIN=""
IPADDR=""
ROOT_NODE=""
IS_HEAD=""
AdminPassword=""
VM_EXEC_COST_PER_SECOND=""
VM_RAM_COST_PER_MB_PER_MINUTE=""
VM_CPU_CORE_COST_PER_MINUTE=""
VM_DISK_COST_PER_GB_PER_MINUTE=""

TELEMETRY_API_PORT="9099"
TELEMETRY_DB_PATH=""
